.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 4%;
}

.navbar .logo{
    width: max(10%,80px);
    height: 60px;
}

.navbar .navbar-profile-text .profile
{
padding-top: 10px; 
padding-left: 20px;   
width: 60px;
height: 60px;

}

 button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}